body {
background-color:#bcbcbc;
}

.dropdown-menu {
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
.footer {
/*margin-left:20px;
margin-right:20px;*/
padding-left:20px;
padding-right:20px;
background-color:#a6d5ff; /*#2f343a;*/
color:#000;
position:fixed;
padding-bottom:0px;
bottom:0px;
width:100%;

}

.center-container {
background-color:#fff;
background-image:url('/img/bg2.png');
margin-left:auto;
margin-right:auto;
height:100%;
position:relative;
width:100%;
bottom:0px;
padding-top:20px;
padding-bottom:35px;
}

.panel {
  margin-bottom: 19px;
  background-color: #ffffff;
  border: 1px solid #DDD;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-footer {
  padding: 10px 15px;
  /*background-color: #e5e5e5; */
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: -1;
  border-bottom-left-radius: -1;
}

.navbar-static-top {
  margin-bottom:0px;
}

.table {
background: #FFF;
}

.nav-tabs {
background: #FFF;
}

form {
background: #FFF;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
